<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiyun.wanandroid">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/NoAppTheme"></activity>
        <activity
            android:name=".ui.project.activity.WebActivity"
            android:theme="@style/NoAppTheme" />
        <activity
            android:name=".ui.home.BannerShowActivity"
            android:theme="@style/NoAppTheme" />
        <activity
            android:name=".ui.home.activity.HomeShowActivity"
            android:theme="@style/NoAppTheme" />
        <activity
            android:name=".ui.knowledge.fragment.KaiFaHuanJingActivity"
            android:theme="@style/NoAppTheme" />
        <activity
            android:name=".ui.todo.activity.ToDoActivity"
            android:theme="@style/NoAppTheme" />
        <activity
            android:name=".ui.setting.activity.SettingActivity"
            android:theme="@style/NoAppTheme" />
        <activity android:name=".ui.night.activity.NightActivity" />
        <activity android:name=".ui.logout.activity.LogoutActivity" />
        <activity android:name=".ui.about.activity.AboutActivity" />
        <activity android:name=".ui.collect.activity.CollectActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.login.RegisterActivity" />
        <activity
            android:name=".ui.search.activity.SeacherActivity"
            android:theme="@style/NoAppTheme" />
        <activity
            android:name=".ui.search.activity.WebSeacherActivity"
            android:theme="@style/NoAppTheme" />
        <activity
            android:name=".ui.todo.activity.AddToDoActivity"
            android:theme="@style/NoAppTheme" />
        <activity
            android:name=".ui.navigation.activity.FlowWebActivity"
            android:theme="@style/NoAppTheme" />
        <activity
            android:name=".ui.wechat.fragment.WeChatWebActivity"
            android:theme="@style/NoAppTheme" />
        <activity android:name=".MaxActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.search.activity.SearchhomeActivity"></activity>
    </application>

</manifest>